.navbar {
  margin-bottom: 0;
}

#map {
  width: 100%;
  height: 500px;
}

.navbar {
  margin: 0px auto 0px auto;
  height: 51px;
  padding: 0px 20px 0px 20px;
  background: #242D40;
  background: -moz-linear-gradient(top, #4D80BC, #242D40);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4D80BC), to(#242D40));
  border: 0px solid #002232;
  -moz-box-shadow: inset 0px 0px 1px #edf9ff;
  -webkit-box-shadow: inset 0px 0px 1px #edf9ff;
  box-shadow: inset 0px 0px 1px #edf9ff;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.jumbotron {
  background: #4d7fbb;
  color: white;
}

.jumbotron img{
  margin-right: 50px;
}
